@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

body {
    display: flex;
    overflow-y: hidden;
    position: relative;
}

.container{
    display: flex;
    position: absolute;
    padding-left: 25%;
    padding-right: 20%;

}

#phone{
    height: 57%;
    padding-top: 20%;
}

.points{
    padding-top: 1em;
    padding-left: 6em;
}

.point{
    height: 6px;
    width: 6px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #b5ecb6;
    display: inline-block;
}

.point.filled{
    background-color: #b5ecb6;
}

#logo{
    height: 13%;
}

.right{
    padding-top: 25%;
}

p{
    padding-top: 2em;
    font-family: 'Commissioner', sans-serif;
    font-size: 1.10em;
    color:rgb(190, 190, 190);
}

.buttons{
    padding-top: 1.5em;

}

#b1{
    border: 2px solid #4CAF50;
    background-color:white;
    border-radius: 30px;
    color:#4CAF50 ;
    padding: 10px 35px;
    text-align: center;
    cursor: pointer;
    font-family: 'Commissioner', sans-serif;
}

#b2{
    border: none;
    background-color:rgb(179, 174, 174);
    border-radius: 30px;
    color:white ;
    padding: 12px 35px;
    text-align: center;
    cursor: pointer;
    font-family: 'Commissioner', sans-serif;

    margin-left: 1em;

}

.platforms{
    padding-top: 2.3em;
    padding-left: 8px;
}

.platform{
    height: 23px;
    padding-right: 37px;
}

@media screen and (max-width: 1235px) {
    #b2{
        margin-left: 0em;
        margin-top: 1em;
        
    }
}